<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.papyrus.infra.viewpoints.policy.profilehelper" name="Viewpoints Policy Profile Helper" schema="schema/profilehelper.exsd"/>
   <extension-point id="org.eclipse.papyrus.infra.viewpoints.policy.viewType" name="View Type Definition" schema="schema/viewType.exsd"/>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.infra.viewpoints.style.StylePackage"
            genModel="model/style.genmodel"
            uri="http://www.eclipse.org/papyrus/infra/viewpoints/policy/style">
      </package>
   </extension>



   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated configuration -->
      <package
            uri="http://www.eclipse.org/papyrus/infra/viewpoints/configuration"
            class="org.eclipse.papyrus.infra.viewpoints.configuration.ConfigurationPackage"
            genModel="model/configuration.genmodel"/>
   </extension>

</plugin>
